<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Build a todo list</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
  </head>
  <body>
  <div id="wrapper">
    <h1>Get 'er Done List</h1>
    <form action="/" method="post">
    <input type="text" name="newItem"> 
    <input type="submit" value="Add todo">
    </form>
    <br>
    {{#listBox}}
      {{^complete}}
        <button>Mark complete</button>
        {{item}}<br>
      {{/complete}}
    {{/listBox}}
   <h2>Completed Tasks</h2>
    {{#listBox}}
      {{#complete}}

        {{item}}<br>
      {{/complete}}
    {{/listBox}}
  </div>
  </body>
</html>